<!DOCTYPE html>
<html>
<head>
    <title>Minha Aplicação Web</title>
</head>
<body>
    <h1>Adicionar novo</h1>
    <form action="/novo" method="post">
        <input type="text" name="id" placeholder="Digite o valor do id">
        <input type="text" name="x" placeholder="Digite o valor de x">
        <input type="text" name="y" placeholder="Digite o valor de y">
        <input type="text" name="z" placeholder="Digite o valor de z">
        <input type="text" name="r" placeholder="Digite o valor de r">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>